.navigation {
    /*padding: 10px;*/
   /* background:rgb(71,138,5);*/
      background: #fc4362;
      padding: 8px;
      border-radius: 8px;
      display: flex;
      justify-content: space-around;
      height: 80px;
      align-items: center; }
  
  .navigation__link {
    color: rgb(233, 222, 222);
    display: inline-block;
    margin-right: 20px;
    box-align: rights; }
  
  .navigation__link--homepage {
    background: yellow;
    color: #000; }
  
  